## Data Scraping

In [ ]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [ ]:
"""
Opening a Google Chrome browser simulation, to get complete web page's code including dynamically rendered content.  
"""
browser= webdriver.Chrome('./chromedriver.exe')

In [ ]:
browser.delete_all_cookies()

In [ ]:
browser.get('https://www.imdb.com/chart/top?ref_=nv_mv_250') ## Navigating to the required page.

In [ ]:
## Initializing BeautifulSoup object to extract information from HTML File.
soup= BeautifulSoup(browser.page_source, "html.parser")

In [ ]:
"""
Finding all the <table> tags, where class="chart full-width", this table contains all the data of movie. 
This was determined by observing the source code of the given webpage. 
Using find_all instead of find to be double sure, if any there are any other tables with the same characteristics. 

"""

movie_table=soup.find_all('table',class_="chart full-width")

In [ ]:
len(movie_table)

In [ ]:
movie_data=movie_table[0].find_all('tbody')[0].find_all('tr')

In [ ]:
len(movie_data)

In [ ]:
## Defining the list that will have all appropiate data after processing. (Format: [Name, Year, Rating, Thumbnail URL])
required_data=[]

In [ ]:
## Below all the unique characteristics of the required information are derived by observation.
for each in movie_data:
    required_data.append([
        each.find('td',class_="titleColumn").find("a").text, ## Name
        int(each.find('span',class_="secondaryInfo").text[1:-1]), ## Year
        float(each.find('td',class_="ratingColumn imdbRating").find('strong').text), ## Rating
        each.find('td',class_="posterColumn").find('img').get('src') ## Thumbnail URL
    ])

In [ ]:
required_data

In [ ]:
import pandas as pd

In [ ]:
## Saving the data in csv for further usage. 
pd.DataFrame(required_data,columns=['Name','Year','Rating','Thumbnail URL']).to_csv('./imdb-movies-data.csv', index=False)

## Creating Database

In [ ]:
import sqlite3

In [ ]:
connection= sqlite3.connect('database.db') ## Connecting to './imdb.db', new database will be created if it does not exsist.

In [ ]:
cur= connection.cursor()

In [ ]:
## This line is only written for convenience in case, if the code is again run.
cur.execute("DROP TABLE IF EXISTS 'movies'")

In [ ]:
"""
The code below clearly depicts the schema of the table.

thumbnail_url is selected as the primary key because two movies can have same Name, Year and Rating. 
For example:
[1] Chaos(2005): https://www.imdb.com/title/tt0402910/
[2] Chaos(2005): https://www.imdb.com/title/tt0405977/

The above two movies have same Name and Year of release. Therefore, thumbnail i.e. poster of the movie will be unqiue. 

"""
create_movies_table = """ CREATE TABLE movies (
                                        name text NOT NULL,
                                        year integer NOT NULL,
                                        rating real NOT NULL,
                                        thumbnail_url text PRIMARY KEY
                                    ); """

In [ ]:
cur.execute(create_movies_table)

In [ ]:
cur.executemany("INSERT INTO movies VALUES (?,?,?,?);",required_data) ## Inserting the complete data into the table

In [ ]:
## Confirming if the data is properly inserted and number of rows are equal to the original movies in the data. 
cur.execute("SELECT * FROM movies;")
len(cur.fetchall())

In [ ]:
connection.commit() ## Commiting all the changes made in the database, if it is not run the changes will not be saved.

In [ ]:
connection.close()